In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
raw = pd.read_csv('datasets/players_fifa22.csv')

In [3]:
raw.shape

(19260, 90)

In [4]:
raw.head()

,ID,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,L. Messi,Lionel Messi,34,170,72,https://cdn.sofifa.com/players/158/023/22_60.png,Argentina,93,93,...,93,90,93,69,67,69,64,53,64,22
1,188545,R. Lewandowski,Robert Lewandowski,32,185,81,https://cdn.sofifa.com/players/188/545/22_60.png,Poland,92,92,...,87,83,87,67,69,67,64,63,64,22
2,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,36,187,83,https://cdn.sofifa.com/players/020/801/22_60.png,Portugal,91,91,...,89,81,89,66,62,66,63,56,63,23
3,231747,K. Mbappé,Kylian Mbappé,22,182,73,https://cdn.sofifa.com/players/231/747/22_60.png,France,91,95,...,92,84,92,70,66,70,66,57,66,21
4,200389,J. Oblak,Jan Oblak,28,188,87,https://cdn.sofifa.com/players/200/389/22_60.png,Slovenia,91,93,...,38,41,38,35,39,35,35,36,35,92

In [5]:
raw.isnull().sum()[raw.isnull().sum() > 0]

ClubPosition           76
ContractUntil          76
ClubNumber             76
NationalPosition    18503
NationalNumber      18503
dtype: int64

In [6]:
raw = raw.drop(['ClubPosition', 'ContractUntil', 'ClubNumber', 'NationalPosition', 'NationalNumber', 'ID'], axis=1)

In [7]:
raw.isnull().sum()[raw.isnull().sum() > 0]

Series([], dtype: int64)

In [8]:
raw.head()

,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,Growth,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,L. Messi,Lionel Messi,34,170,72,https://cdn.sofifa.com/players/158/023/22_60.png,Argentina,93,93,0,...,93,90,93,69,67,69,64,53,64,22
1,R. Lewandowski,Robert Lewandowski,32,185,81,https://cdn.sofifa.com/players/188/545/22_60.png,Poland,92,92,0,...,87,83,87,67,69,67,64,63,64,22
2,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,36,187,83,https://cdn.sofifa.com/players/020/801/22_60.png,Portugal,91,91,0,...,89,81,89,66,62,66,63,56,63,23
3,K. Mbappé,Kylian Mbappé,22,182,73,https://cdn.sofifa.com/players/231/747/22_60.png,France,91,95,4,...,92,84,92,70,66,70,66,57,66,21
4,J. Oblak,Jan Oblak,28,188,87,https://cdn.sofifa.com/players/200/389/22_60.png,Slovenia,91,93,2,...,38,41,38,35,39,35,35,36,35,92

In [9]:
raw.columns

Index(['Name', 'FullName', 'Age', 'Height', 'Weight', 'PhotoUrl',
       'Nationality', 'Overall', 'Potential', 'Growth', 'TotalStats',
       'BaseStats', 'Positions', 'BestPosition', 'Club', 'ValueEUR', 'WageEUR',
       'ReleaseClause', 'ClubJoined', 'OnLoad', 'NationalTeam',
       'PreferredFoot', 'IntReputation', 'WeakFoot', 'SkillMoves',
       'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal', 'ShootingTotal',
       'PassingTotal', 'DribblingTotal', 'DefendingTotal', 'PhysicalityTotal',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'STRating',
       'LWRating', 'LFRating', 'CFRating', 'RFRating', 'RWRating', 'CAMRating',
       'LMRating', 'CMRating', 'RMRating', 'LWBRating', 'CDMRating',
       'RWBRating', 'LBRating', 'CBRating', 'RBRating', 'GKRating'],
      dtype='object')

In [10]:
raw.dtypes

Name         object
FullName     object
Age           int64
Height        int64
Weight        int64
              ...
RWBRating     int64
LBRating      int64
CBRating      int64
RBRating      int64
GKRating      int64
Length: 84, dtype: object

In [11]:
raw.select_dtypes(include=['number'])

,Age,Height,Weight,Overall,Potential,Growth,TotalStats,BaseStats,ValueEUR,WageEUR,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,34,170,72,93,93,0,2219,462,78000000,320000,...,93,90,93,69,67,69,64,53,64,22
1,32,185,81,92,92,0,2212,460,119500000,270000,...,87,83,87,67,69,67,64,63,64,22
2,36,187,83,91,91,0,2208,457,45000000,270000,...,89,81,89,66,62,66,63,56,63,23
3,22,182,73,91,95,4,2175,470,194000000,230000,...,92,84,92,70,66,70,66,57,66,21
4,28,188,87,91,93,2,1413,489,112000000,130000,...,38,41,38,35,39,35,35,36,35,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255,19,180,75,48,62,14,1160,246,100000,500,...,36,35,36,44,43,44,47,50,47,15
19256,23,196,85,48,52,4,964,285,50000,1000,...,26,23,26,26,23,26,26,26,26,49
19257,20,183,77,48,55,7,1166,247,90000,1000,...,36,35,36,46,45,46,48,50,48,15
19258,20,174,69,48,58,10,1198,250,100000,950,...,38,37,38,46,45,46,49,50,49,17
19259,22,186,70,48,53,5,1179,245,70000,1000,...,35,35,35,46,44,46,48,50,48,16

In [12]:
raw = raw.drop(['PhotoUrl'], axis=1)

In [13]:
raw.select_dtypes(include=['object']).columns

Index(['Name', 'FullName', 'Nationality', 'Positions', 'BestPosition', 'Club',
       'NationalTeam', 'PreferredFoot', 'AttackingWorkRate',
       'DefensiveWorkRate'],
      dtype='object')

In [14]:
raw.select_dtypes(include=['number']).columns

Index(['Age', 'Height', 'Weight', 'Overall', 'Potential', 'Growth',
       'TotalStats', 'BaseStats', 'ValueEUR', 'WageEUR', 'ReleaseClause',
       'ClubJoined', 'IntReputation', 'WeakFoot', 'SkillMoves', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'STRating', 'LWRating', 'LFRating', 'CFRating', 'RFRating', 'RWRating',
       'CAMRating', 'LMRating', 'CMRating', 'RMRating', 'LWBRating',
       'CDMRating', 'RWBRating', 'LBRating', 'CBRating', 'RBRating',
       'GKRating'],
      dtype='object')

In [15]:
ordinal_cols = ['IntReputation', 'WeakFoot', 'SkillMoves']

In [16]:
len(raw['Nationality'].unique()) #too many

163

In [17]:
raw = raw.drop('Nationality', axis=1)

In [18]:
raw = raw.drop('Positions', axis=1) #too difficult to turn into NumPositions

In [19]:
raw = raw.drop(['NationalTeam'], axis=1) #too many, keeping club for csv creation

In [20]:
raw.select_dtypes(include=['object']).columns

Index(['Name', 'FullName', 'BestPosition', 'Club', 'PreferredFoot',
       'AttackingWorkRate', 'DefensiveWorkRate'],
      dtype='object')

In [21]:
raw['AttackingWorkRate'].unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [22]:
raw['DefensiveWorkRate'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [23]:
raw['PreferredFoot'].unique()

array(['Left', 'Right'], dtype=object)

In [24]:
cleanup_nums = {"AttackingWorkRate":     {"Low": 1, "Medium": 2, "High": 3},
                "DefensiveWorkRate": {"Low": 1, "Medium": 2, "High": 3, "eight": 8}}

In [25]:
raw = raw.replace(cleanup_nums)

In [26]:
raw[['AttackingWorkRate', 'DefensiveWorkRate']]

       AttackingWorkRate  DefensiveWorkRate
0                      2                  1
1                      3                  2
2                      3                  1
3                      3                  1
4                      2                  2
...                  ...                ...
19255                  2                  2
19256                  2                  2
19257                  2                  2
19258                  2                  2
19259                  2                  2

[19260 rows x 2 columns]

In [27]:
raw.columns

Index(['Name', 'FullName', 'Age', 'Height', 'Weight', 'Overall', 'Potential',
       'Growth', 'TotalStats', 'BaseStats', 'BestPosition', 'Club', 'ValueEUR',
       'WageEUR', 'ReleaseClause', 'ClubJoined', 'OnLoad', 'PreferredFoot',
       'IntReputation', 'WeakFoot', 'SkillMoves', 'AttackingWorkRate',
       'DefensiveWorkRate', 'PaceTotal', 'ShootingTotal', 'PassingTotal',
       'DribblingTotal', 'DefendingTotal', 'PhysicalityTotal', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'STRating', 'LWRating',
       'LFRating', 'CFRating', 'RFRating', 'RWRating', 'CAMRating', 'LMRating',
       'CMRating', 'RMRating', 'LWBRating', 'CDMRating', 'RWBRating',
       'LBRating', 'CBRating', 'RBRating', 'GKRating'],
      dtype='object')

In [28]:
raw = raw.drop('FullName', axis=1)
raw.select_dtypes(include='object')

,Name,BestPosition,Club,PreferredFoot
0,L. Messi,RW,Paris Saint-Germain,Left
1,R. Lewandowski,ST,FC Bayern München,Right
2,Cristiano Ronaldo,ST,Manchester United,Right
3,K. Mbappé,ST,Paris Saint-Germain,Right
4,J. Oblak,GK,Atlético de Madrid,Right
...,...,...,...,...
19255,S. Black,CB,Finn Harps,Right
19256,Ma Zhen,GK,Shanghai Shenhua FC,Right
19257,Yang Haoyu,CB,Dalian Professional Football Club,Right
19258,He Siwei,CB,Chongqing Liangjiang Athletic,Right
19259,Chen Guoliang,CB,Shenzhen FC,Right

In [29]:
left_foot = {"PreferredFoot": {"Right": 0, "Left": 1}}
raw = raw.replace(left_foot)
raw["PreferredFoot"]

0        1
1        0
2        0
3        0
4        0
        ..
19255    0
19256    0
19257    0
19258    0
19259    0
Name: PreferredFoot, Length: 19260, dtype: int64

In [30]:
raw = raw.rename(columns={'PreferredFoot': 'LeftFoot'})
raw["LeftFoot"]

0        1
1        0
2        0
3        0
4        0
        ..
19255    0
19256    0
19257    0
19258    0
19259    0
Name: LeftFoot, Length: 19260, dtype: int64

In [31]:
raw[['Name', 'LeftFoot']]

                    Name  LeftFoot
0               L. Messi         1
1         R. Lewandowski         0
2      Cristiano Ronaldo         0
3              K. Mbappé         0
4               J. Oblak         0
...                  ...       ...
19255           S. Black         0
19256            Ma Zhen         0
19257         Yang Haoyu         0
19258           He Siwei         0
19259      Chen Guoliang         0

[19260 rows x 2 columns]

In [32]:
raw.select_dtypes(include='object')

                    Name BestPosition                               Club
0               L. Messi           RW                Paris Saint-Germain
1         R. Lewandowski           ST                  FC Bayern München
2      Cristiano Ronaldo           ST                  Manchester United
3              K. Mbappé           ST                Paris Saint-Germain
4               J. Oblak           GK                 Atlético de Madrid
...                  ...          ...                                ...
19255           S. Black           CB                         Finn Harps
19256            Ma Zhen           GK                Shanghai Shenhua FC
19257         Yang Haoyu           CB  Dalian Professional Football Club
19258           He Siwei           CB      Chongqing Liangjiang Athletic
19259      Chen Guoliang           CB                        Shenzhen FC

[19260 rows x 3 columns]

In [33]:
#deal with BestPosition

BestPosition_dummies = pd.get_dummies(raw['BestPosition'], prefix='BestPosition', drop_first=True)

In [34]:
raw = pd.concat([raw, BestPosition_dummies], axis=1)

In [35]:
raw.head()

,Name,Age,Height,Weight,Overall,Potential,Growth,TotalStats,BaseStats,BestPosition,...,BestPosition_GK,BestPosition_LB,BestPosition_LM,BestPosition_LW,BestPosition_LWB,BestPosition_RB,BestPosition_RM,BestPosition_RW,BestPosition_RWB,BestPosition_ST
0,L. Messi,34,170,72,93,93,0,2219,462,RW,...,0,0,0,0,0,0,0,1,0,0
1,R. Lewandowski,32,185,81,92,92,0,2212,460,ST,...,0,0,0,0,0,0,0,0,0,1
2,Cristiano Ronaldo,36,187,83,91,91,0,2208,457,ST,...,0,0,0,0,0,0,0,0,0,1
3,K. Mbappé,22,182,73,91,95,4,2175,470,ST,...,0,0,0,0,0,0,0,0,0,1
4,J. Oblak,28,188,87,91,93,2,1413,489,GK,...,1,0,0,0,0,0,0,0,0,0

In [36]:
raw = raw.drop('BestPosition', axis=1)

In [37]:
raw.columns

Index(['Name', 'Age', 'Height', 'Weight', 'Overall', 'Potential', 'Growth',
       'TotalStats', 'BaseStats', 'Club', 'ValueEUR', 'WageEUR',
       'ReleaseClause', 'ClubJoined', 'OnLoad', 'LeftFoot', 'IntReputation',
       'WeakFoot', 'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate',
       'PaceTotal', 'ShootingTotal', 'PassingTotal', 'DribblingTotal',
       'DefendingTotal', 'PhysicalityTotal', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'STRating', 'LWRating',
       'LFRating', 'CFRating', 'RFRating', 'RWRating', 'CAMRating', 'LMRating',
       'CMRating', 'RMRating', 'LWBRating', 'CDMRating', 'RWBRating',
       'LBRating', 'CBRating', 'RBRating', 'GKRating', 'BestPosition_CB',
       'BestPosition_CDM', 'BestPosition_CF', 'BestPosition_CM',
       'BestPosition_GK', 'BestPosition_LB', 'BestPosition_LM',
       'BestPosition_LW', 'BestPosition_LWB', 'BestPosition_RB',
       'BestPosition_RM', 'BestPosition_RW', 'BestPosition_RWB',
       'BestPosition_ST'],
      dtype='object')

In [38]:
raw.select_dtypes(include='object')

                    Name                               Club
0               L. Messi                Paris Saint-Germain
1         R. Lewandowski                  FC Bayern München
2      Cristiano Ronaldo                  Manchester United
3              K. Mbappé                Paris Saint-Germain
4               J. Oblak                 Atlético de Madrid
...                  ...                                ...
19255           S. Black                         Finn Harps
19256            Ma Zhen                Shanghai Shenhua FC
19257         Yang Haoyu  Dalian Professional Football Club
19258           He Siwei      Chongqing Liangjiang Athletic
19259      Chen Guoliang                        Shenzhen FC

[19260 rows x 2 columns]

In [39]:
raw.select_dtypes(include='number')

,Age,Height,Weight,Overall,Potential,Growth,TotalStats,BaseStats,ValueEUR,WageEUR,...,BestPosition_GK,BestPosition_LB,BestPosition_LM,BestPosition_LW,BestPosition_LWB,BestPosition_RB,BestPosition_RM,BestPosition_RW,BestPosition_RWB,BestPosition_ST
0,34,170,72,93,93,0,2219,462,78000000,320000,...,0,0,0,0,0,0,0,1,0,0
1,32,185,81,92,92,0,2212,460,119500000,270000,...,0,0,0,0,0,0,0,0,0,1
2,36,187,83,91,91,0,2208,457,45000000,270000,...,0,0,0,0,0,0,0,0,0,1
3,22,182,73,91,95,4,2175,470,194000000,230000,...,0,0,0,0,0,0,0,0,0,1
4,28,188,87,91,93,2,1413,489,112000000,130000,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19255,19,180,75,48,62,14,1160,246,100000,500,...,0,0,0,0,0,0,0,0,0,0
19256,23,196,85,48,52,4,964,285,50000,1000,...,1,0,0,0,0,0,0,0,0,0
19257,20,183,77,48,55,7,1166,247,90000,1000,...,0,0,0,0,0,0,0,0,0,0
19258,20,174,69,48,58,10,1198,250,100000,950,...,0,0,0,0,0,0,0,0,0,0
19259,22,186,70,48,53,5,1179,245,70000,1000,...,0,0,0,0,0,0,0,0,0,0

In [40]:
raw.head()

,Name,Age,Height,Weight,Overall,Potential,Growth,TotalStats,BaseStats,Club,...,BestPosition_GK,BestPosition_LB,BestPosition_LM,BestPosition_LW,BestPosition_LWB,BestPosition_RB,BestPosition_RM,BestPosition_RW,BestPosition_RWB,BestPosition_ST
0,L. Messi,34,170,72,93,93,0,2219,462,Paris Saint-Germain,...,0,0,0,0,0,0,0,1,0,0
1,R. Lewandowski,32,185,81,92,92,0,2212,460,FC Bayern München,...,0,0,0,0,0,0,0,0,0,1
2,Cristiano Ronaldo,36,187,83,91,91,0,2208,457,Manchester United,...,0,0,0,0,0,0,0,0,0,1
3,K. Mbappé,22,182,73,91,95,4,2175,470,Paris Saint-Germain,...,0,0,0,0,0,0,0,0,0,1
4,J. Oblak,28,188,87,91,93,2,1413,489,Atlético de Madrid,...,1,0,0,0,0,0,0,0,0,0

In [44]:
raw = raw.drop('OnLoad', axis=1)

In [45]:
raw.to_csv('fifa_22_preprocessed.csv', index=True)